@inherits LayoutComponentBase

<style>
    nav .side-item.active i {
       /*  color: #1ABC9C; */
        color: #24416f;
    }

    nav .side-item:hover i {
        /* color: #1ABC9C; */
        color: #24416f;
    }
    .sidebar {
        width: 190px;
        height: 100vh;
        background: #F7F7FB;
        border-right: 1px solid #E6E6EF !important;
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
    }

    .menu-scroll {
        flex: 1;
        overflow-y: auto;
        padding-right: 5px;
    }

    .bottom-menu {
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }

    .sidebar-logo {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .sidebar-logo .logo {
            height: 27px;
            margin-left: 2px;
            margin-top: 1px;
        }

        .sidebar-logo .logo-collapsed {
            height: 27px;
            margin-left: 8px;
        }

    .logo-text {
        font-size: 20px;
        font-weight: bold;
        color: #0F3D91;
    }

    nav .side-item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px 15px;
        color: #333;
        text-decoration: none;
        border-radius: 6px;
        margin-bottom: 2px;
        transition: all 0.2s ease;
    }

    .side-item.setting {
        padding: 7px 15px;
    }

    nav .side-item:hover {
        background: #d3e3f0; /* light teal hover */
       /*  color: #1ABC9C; */ /* match login button */
        color: #24416f;
        cursor: pointer;
    }

    nav .side-item.active {
       /*  color: #1ABC9C; */
        color: #24416f;
        font-weight: 600;
    }

    .bottom-menu .side-item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px 15px;
        color: #333;
        text-decoration: none;
        border-radius: 6px;
        margin-bottom: 2px;
        transition: all 0.2s ease;
    }

        .bottom-menu .side-item:hover,
        .bottom-menu .side-item.active {
            background: #d3e3f0; /* light teal hover */
            /* color: #1ABC9C; */
            color: #24416f;
        }

            .bottom-menu .side-item.active i {
       /*  color: #1ABC9C;  */
                color: #24416f;
    }

            .bottom-menu .side-item:hover i {
       /*  color: #1ABC9C; */
                color: #24416f;
    }

    .logout {
        margin-top: auto;
        margin-bottom: -12px !important;
        /* color: #f87210 !important; */
        cursor:pointer;
    }

    .separator {
        height: 1px;
        background: #dcdcdc;
        margin: 10px 0;
    }

    .sidebar i {
        font-size: 12px;
        margin-left: -7px;
        margin-top: 0px;
        color: #333;
    }

    .sidebar.collapsed i {
        font-size: 14px !important;
        margin-left: -2px !important;
        margin-top: 5px !important;
    }

    .sidebar.collapsed .arrow-icon i {
        font-size: 14px;
        margin-left: -3px !important;
        margin-top: 18px !important;
        margin-bottom: -19px !important;
    }

    .side-item.arrow-icon:hover {
        background: transparent !important;
        color: inherit !important;
        cursor: default !important;
    }

    .bottom-menu .side-item-back {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 4px 35px;
        color: #333;
        text-decoration: none;
        border-radius: 6px;
        margin-bottom: -20px;
        margin-left: 97px;
        cursor: pointer;
    }

    .toggle-button {
        margin-left: 72px;
        margin-bottom: -14px;
        font-size: 13px;
        cursor: pointer;
    }

    .menu-text {
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px;
        line-height: 18px;
    }

    .menu-text-collapsed {
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 18px !important;
    }
</style>

<style>
    .sidebar.collapsed {
        width: 68px;
        transition: 0.3s;
        margin-left: 7px;
    }

        .sidebar.collapsed .menu-text {
            display: none;
        }

    nav .side-item {
        position: relative !important;
    }

    .flyout-menu {
        position: fixed;
        left: 50px;
        top: var(--flyout-top);
        background: #fff;
        min-width: 140px;
        padding: 3px 3px;
        border: 1px solid #d0cece;
        border-radius: 6px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
        z-index: 1000;
    }

    .sidebar.collapsed .side-item:hover .flyout-menu {
        opacity: 1;
        pointer-events: auto;
    }

    .flyout-menu .side-item {
        padding: 4px 15px;
        white-space: nowrap;
        color: #333;
        transition: all 0.2s ease;
    }

        .flyout-menu .side-item:hover {
            background: #d3e3f0;
           /*  color: #1ABC9C; */
            color: #24416f;
        }
</style>

<style>
    .submenu {
        display: flex;
        flex-direction: column;
        margin-left: 26px;
        margin-top: -2px;
    }

        .submenu .sub {
            padding: 2px 7px;
        }

        .submenu .side-item:hover {
            background: none !important;
           /*  color: #1ABC9C; */
            color: #24416f;
        }

    .menu-scroll .setting.active + .submenu {
        margin-left: 17px !important;
    }
</style>

<style>
    .menu-scroll::-webkit-scrollbar {
        width: 5px !important;
    }

    .menu-scroll::-webkit-scrollbar-track {
        background: transparent !important;
    }

    .menu-scroll::-webkit-scrollbar-thumb {
        background: #b1b1b1 !important;
    }

        .menu-scroll::-webkit-scrollbar-thumb:hover {
            background: #8a8a8a !important;
        }
</style>


<div class="sidebar @(isSidebarCollapse ? "collapsed" : "") ">

    @if (!isSidebarCollapse)
    {
        <div class="sidebar-logo">
            <img src="/images/ClockNext.png" class="logo" />
        </div>
    }
    else
    {
        <div class="sidebar-logo">
            <img src="/ClockNestLogo.png" class="logo-collapsed" />
        </div>
    }

    @if (!isSettingsOpen)
    {
        <nav class="menu-scroll">

            <div class="side-item @(activeMenu == "home" ? "active" : "")"
                 @onclick="@(() => { if (!isSidebarCollapse) ToggleMenu("home"); })">
                <i class="fa fa-home"></i> <span class="menu-text">Home</span>

                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/dashboard"><span class="menu-text-collapsed">Dashboard</span></NavLink>
                        <NavLink class="side-item sub" href="/liveactivity"><span class="menu-text-collapsed">Live Activity Dashboard</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "home" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/dashboard"><span class="menu-text">Dashboard</span></NavLink>
                    <NavLink class="side-item sub" href="/liveactivity"><span class="menu-text">Live Activity Dashboard</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "view" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("view"))">
                <i class="fa fa-eye"></i> <span class="menu-text">View</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/tags"><span class="menu-text-collapsed">Timesheet</span></NavLink>
                        <NavLink class="side-item sub" href="/users"><span class="menu-text-collapsed">Calendar</span></NavLink>
                        <NavLink class="side-item sub" href="/dashboard"><span class="menu-text-collapsed">Attendance</span></NavLink>
                        <NavLink class="side-item sub" href="/liveactivity"><span class="menu-text-collapsed">Pegboard</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Audit</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "view" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"><span class="menu-text">Timesheet</span></NavLink>
                    <NavLink class="side-item sub" href="/users"><span class="menu-text">Calendar</span></NavLink>
                    <NavLink class="side-item sub" href="/dashboard"><span class="menu-text">Attendance</span></NavLink>
                    <NavLink class="side-item sub" href="/liveactivity"><span class="menu-text">Pegboard</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Audit</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "manage" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("manage"))">
                <i class="fa-solid fa-bars-progress"></i> <span class="menu-text">Manage</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Exceptions</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Overtime</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Lateness</span></NavLink>
                        <NavLink class="side-item sub" href="/workRecord"><span class="menu-text-collapsed">Work Record Notes</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Holiday/Absence</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Incidents</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Change requests</span></NavLink> 
                    </div>
                }
            </div>
            @if (activeMenu == "manage" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Exceptions</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Overtime</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Lateness</span></NavLink>
                    <NavLink class="side-item sub" href="/workRecord"><span class="menu-text">Work Record Notes</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Holiday/Absence</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Incidents</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Change requests</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "hR" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("hR"))">
                <i class="fa-solid fa-users"></i><span class="menu-text">HR</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">HR Dashboard</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Workflow</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Announcement</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Records</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Questions</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Organisation Chart</span></NavLink>
                    </div>
                }
            </div>
           @if (activeMenu == "hR" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">HR Dashboard</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Workflow</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Announcement</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Records</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Questions</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Organisation Chart</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "access" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("access"))">
                <i class="fa-solid fa-universal-access"></i><span class="menu-text">Access</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Movements</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Visitors/Contractore</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "access" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Movements</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Visitors/Contractore</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "reports" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("reports"))">
                <i class="fa-solid fa-bug"></i> <span class="menu-text">Reports</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Reports</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Favourite reports</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Quick fire report</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Quick fire cost centre report</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Quick TA/Access fire report</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Quick fire roll call report</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Reports</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "reports" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Reports</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Favourite reports</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Quick fire report</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Quick fire cost centre report</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Quick TA/Access fire report</span></NavLink>
                     <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Quick fire roll call report</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Reports</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "toolbox" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("toolbox"))">
                <i class="fa-solid fa-wrench"></i><span class="menu-text">Toolbox</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Bulk editor</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Lock/unlock records</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Create flextime periods</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Shift notifications</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Company settings</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "toolbox" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Bulk editor</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Lock/unlock records</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Create flextime periods</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Shift notifications</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Company settings</span></NavLink>
                </div>
            }



            <NavLink class="side-item" href="/selfservice">
                 <i class="fa-solid fa-fingerprint"></i> <span class="menu-text">Self Service</span>
            </NavLink>
           @*  <div class="side-item @(activeMenu == "selfService" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("selfService"))" href="/selfService">
                <i class="fa-solid fa-fingerprint"></i> <span class="menu-text">Self Service</span>
                @if (isSidebarCollapse)
                {
                  
                }
            </div>
            @if (activeMenu == "selfService" && !isSidebarCollapse)
            {
                
            } *@


            <div class="side-item @(activeMenu == "billing" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("billing"))">
                <i class="fa-solid fa-wallet"></i> <span class="menu-text">Billing</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Purchase Subscription</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "billing" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Purchase Subscription</span></NavLink>
                   
                </div>
            }


            <div class="side-item @(activeMenu == "switchCompany" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("switchCompany"))">
                <i class="fa-solid fa-shuffle"></i> <span class="menu-text">Switch Company</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented">Timesheet</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Calendar</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Attendance</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Pegboard</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Audit</NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "switchCompany" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Timesheet</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Calendar</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Attendance</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Pegboard</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Audit</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "outlook" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("outlook"))">
                <i class="fa-regular fa-envelope"></i><span class="menu-text">Outlook</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Disable outlook</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "outlook" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Disable outlook</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "licenceDetail" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("licenceDetail"))">
                <i class="fa-solid fa-id-card"></i> <span class="menu-text">Licence Detail</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Licence details</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "licenceDetail" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Licence details</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "stafflogy" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("stafflogy"))">
                <i class="fa-solid fa-atom"></i><span class="menu-text">Stafflogy</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Connected to Test Company</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Employees</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Pay Codes</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">PayRuns</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Payments</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Payslips</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "stafflogy" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Connected to Test Company</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Employees</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Pay Codes</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">PayRuns</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Payments</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Payslips</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "xero" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("xero"))">
                <i class="fa-brands fa-mixer"></i><span class="menu-text">Xero</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Connection</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Map earnings/rates</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Sync employees</span></NavLink>
                        <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Payments</span></NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "xero" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">iTrent Employee Import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Custom rate import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Sage SHA import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Employee import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Cost centre import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Cost centre advanced import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Record import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text-collapsed">Employee Tag Import</span></NavLink>
                </div>
            }


            <div class="side-item @(activeMenu == "import" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("import"))">
                <i class="fa-solid fa-download"></i><span class="menu-text">Import</span>
                @if (isSidebarCollapse)
                {
                    <div class="flyout-menu">
                        <NavLink class="side-item sub" href="/notimplemented">Timesheet</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Calendar</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Attendance</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Pegboard</NavLink>
                        <NavLink class="side-item sub" href="/notimplemented">Audit</NavLink>
                    </div>
                }
            </div>
            @if (activeMenu == "import" && !isSidebarCollapse)
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">iTrent Employee Import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Custom rate import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Sage SHA import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Employee import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Cost centre import</span></NavLink>
                     <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Cost centre advanced import</span></NavLink>
                      <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Record import</span></NavLink>
                    <NavLink class="side-item sub" href="/notimplemented"><span class="menu-text">Employee Tag Import</span></NavLink>
                </div>
            }
       
        </nav>

        <div class="separator"></div>

        <div class="bottom-menu">
            <NavLink class="side-item" href="/developmentRoadmap">
                <i class="fa-brands fa-connectdevelop"></i><span class="menu-text">Development rodmap</span>
            </NavLink>
            <NavLink class="side-item">
                <AuthorizeView>
                <i class="fa-regular fa-user"></i> <span class="menu-text">@context.User.Identity.Name</span>
                </AuthorizeView>
            </NavLink>
            <NavLink class="side-item" href="/help">
                <i class="fa-regular fa-circle-question"></i> <span class="menu-text">Help/FAQ</span>
            </NavLink>
            <NavLink class="side-item" @onclick="OpenSettings">
                <i class="fa fa-gear"></i> <span class="menu-text">Settings</span>
            </NavLink>
            <div class="d-flex flex-row position-relative align-items-center">
                <NavLink class="side-item logout ">
                    <i class="fa fa-sign-out-alt"></i><span class="menu-text" @onclick="Logout">Logout</span>
                </NavLink>
                @if (!isSidebarCollapse)
                {
                    <div class="toggle-button ">
                        <span class="fas fa-angles-left" @onclick="SidebarCollapse"></span>
                    </div>
                }
            </div>

            @if (isSidebarCollapse)
            {
            <NavLink class="side-item arrow-icon">
               
                    <i class="fas fa-angles-right" @onclick="SidebarCollapse"></i>            
            </NavLink>
            }
        </div>
    }

    else
    {
        <!--Setting Menu-->

        <nav class="menu-scroll">
            <div class="side-item setting @(activeMenu == "organisation" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("organisation"))">
                <span class="menu-text">Organisation</span>
            </div>
            @if (activeMenu == "organisation")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }


            <div class="side-item setting @(activeMenu == "contract" ? " active" : "")"
                 @onclick="@(() => ToggleMenu("contract"))">
                <span class="menu-text">Contract</span>
            </div>
            @if (activeMenu == "contract")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/settings/timesheet"> <span class="menu-text">Timesheet</span></NavLink>
                    <NavLink class="side-item sub" href="/settings/calendar"> <span class="menu-text">Calendar</span></NavLink>
                </div>
            }


            <div class="side-item setting @(activeMenu == "shiftRoster" ? " active" : "")"
                 @onclick="@(() => ToggleMenu("shiftRoster"))">
                <span class="menu-text">Shifts and Rosters</span>
            </div>
            @if (activeMenu == "shiftRoster")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }


            <div class="side-item setting @(activeMenu == "overtimerule" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("overtimerule"))">
                <span class="menu-text">Overtime rules</span>
            </div>
            @if (activeMenu == "overtimerule")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }

            <div class="side-item setting @(activeMenu == "holidaySickness" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("holidaySickness"))">
                <span class="menu-text">Holiday, Sick and Absence</span>
            </div>
            @if (activeMenu == "holidaySickness")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }

            <div class="side-item setting @(activeMenu == "employees" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("employees"))">
                <span class="menu-text">Employees</span>
            </div>
            @if (activeMenu == "employees")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/employee"> <span class="menu-text">Employees</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }

            <div class="side-item setting @(activeMenu == "hrRecords" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("hrRecords"))">
                <span class="menu-text">HR records</span>
            </div>
            @if (activeMenu == "hrRecords")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }

            <div class="side-item setting @(activeMenu == "flexitime" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("flexitime"))">
                <span class="menu-text"> Flexitime, Annualised and Committed hours</span>
            </div>
            @if (activeMenu == "flexitime")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }

            <div class="side-item setting @(activeMenu == "clockingTerminals" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("clockingTerminals"))">
                <span class="menu-text">Clocking terminals</span>
            </div>
            @if (activeMenu == "clockingTerminals")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }

            <div class="side-item setting @(activeMenu == "accessControl" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("accessControl"))">
                <span class="menu-text">Access control</span>
            </div>
            @if (activeMenu == "accessControl")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }
            <div class="side-item setting @(activeMenu == "reportingAndException" ? "active" : "")"
                 @onclick="@(() => ToggleMenu("reportingAndException"))">
                <span class="menu-text">Reporting and Exceptions</span>
            </div>
            @if (activeMenu == "reportingAndException")
            {
                <div class="submenu">
                    <NavLink class="side-item sub" href="/tags"> <span class="menu-text">Tags</span></NavLink>
                    <NavLink class="side-item sub" href="/users"> <span class="menu-text">Users</span></NavLink>
                </div>
            }

        </nav>


        <div class="bottom-menu">
            <NavLink class="side-item-back" @onclick="CloseSettings">
                <span class="menu-text">&larr;Back</span>
            </NavLink>
        </div>
    }
</div>

@code {
    string activeMenu = "";
    bool isSettingsOpen = false;
    void OpenSettings()
    {
        isSidebarCollapse = false;
        isSettingsOpen = true;
        activeMenu = "";
    }

    void CloseSettings()
    {
        isSettingsOpen = false;
        activeMenu = "";
    }

    // map parent menus to their child routes
    Dictionary<string, string[]> menuMap = new()
    {
        { "home", new[] { "/dashboard", "/liveactivity" } },
      //  { "view", new[] { "/tags", "/users", "/dashboard", "/liveactivity", "/notimplemented"} },
         { "manage", new[] { "/workRecord" } },
        // { "hR", new[] { "" } },
        // { "access", new[] { "" } },
        // { "reports", new[] { "" } },
        // { "toolbox", new[] { "" } },
        // { "billing", new[] { "" } },
        // { "switchCompany", new[] { "" } },
        // { "outlook", new[] { "" } },
        // { "licenceDetail", new[] { "" } },
        // { "stafflogy", new[] { "" } },
        // { "xero", new[] { "" } },
        // { "import", new[] { "" } },

        //Setting tabs
        { "organisation", new[] { "/tags", "/users"} },
       // { "contract", new[] {""} },
        // { "shiftRoster", new[] {""} },
        // { "overtimerule", new[] {""} },
        // { "holidaySickness", new[] {""} },
         { "employees", new[] {"/employee"} },
        // { "hrRecords", new[] {""} },
        // { "flexitime", new[] {""} },
        // { "clockingTerminals", new[] {""} },
        // { "accessControl", new[] {""} },
        // { "reportingAndException", new[] {""} },
    };

    protected override void OnInitialized()
    {
        SetActiveFromUrl(Nav.Uri);

        Nav.LocationChanged += (s, e) =>
        {
            SetActiveFromUrl(e.Location);
            StateHasChanged();
        };
    }

    void ToggleMenu(string menuName)
        => activeMenu = activeMenu == menuName ? "" : menuName;

    void SetActiveFromUrl(string url)
    {
        activeMenu = menuMap
            .FirstOrDefault(x => x.Value.Any(url.Contains))
            .Key ?? "";
    }

    <!--Sidebar Collapse -->
    bool isSidebarCollapse = false;

    void SidebarCollapse()
    {
        isSidebarCollapse = !isSidebarCollapse;
    }

    private async Task Logout()
    {
        await _AuthService.LogoutAsync();
        Navigation.NavigateTo("/login", true);
    }
}


