
<div class="modal-header border-0 mb-2 d-flex align-items-center justify-content-between" style="padding: 0">
    <h5 class="mb-0">Work Records</h5>
    <!-- Toggle Buttons -->
    <div class="d-flex align-items-center gap-3">

        <div class="form-check form-switch d-flex align-items-center mb-0" style="cursor:@(locked ? "not-allowed" : "pointer")">
           @*  <input type="checkbox" class="form-check-input me-2"
                   @bind="late"
                   @bind:event="onchange"
                   @bind:after="OnLateChanged"
                   disabled="@locked"> *@
            <input type="checkbox"
                   class="form-check-input me-2"
                   @bind="_late"
                   disabled="@(locked || _isSavingLate)"
                   @bind:after="OnLateChanged" />
            <label class="form-label body-medium mb-0 mt-1">
                Show as late
            </label>
        </div>

        <div class="btn-group" role="group" style="cursor:@(locked ? "not-allowed" : "pointer")">
            <button class="btn icon-btn bg-brand-100" type="button" @onclick="CreateWorkRecord" disabled="@locked">
                <i class="fa fa-plus"></i>
            </button>

            <button class="btn icon-btn btn-danger" type="button" @onclick="DeleteSelectedRecords" disabled="@(locked)">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>

    </div>
</div>

<!-- Table -->
<div class="table-responsive custom-table-wrapper" style="max-height: 285px;">
    <table class="table table-hover table-bordered align-middle  custom-table">
        <thead>
            <tr>
                <th style="width:5%; cursor:@(locked ? "not-allowed" : "pointer")">
                    <input type="checkbox"
                           class="form-check-input"
                           checked="@IsAllSelected"
                           @onchange="ToggleSelectAll" disabled="@locked" />

                </th>
                <th style="width:10%;">Start</th>
                <th style="width:10%">End</th>
                <th style="width:10%"> Duration</th>
                <th style="width:15%">Activity</th>
                <th style="width:15%">Cost Cntre</th>
                <th style="width:10%">Hourly Rate</th>
                <th style="width:10%">Total Amount</th>
                <th style="width:15%">User</th>
            </tr>
        </thead>

        <tbody>
            @if (workRecords == null || !workRecords.Any())
            {
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">
                        No matching records found
                    </td>
                </tr>
            }
            else
            {
                @foreach (var record in workRecords)
                {
                    <tr @ondblclick="@(() => EditWorkRecord(record))">
                        <td style="cursor:@(locked ? "not-allowed" : "pointer")">
                            <input type="checkbox"
                                   class="form-check-input"
                                   checked="@selectedWorkRecords.Contains(record.Id)"
                                   @onchange="(e) => ToggleSelection(record.Id, (bool)e.Value!)" disabled="@locked" />
                        </td>
                        <td>@record.StartTimeDisplay</td>
                        <td>@record.EndTimeDisplay</td>
                        <td>@record.DurationDisplay</td>
                        <td>@record.ActivityDisplay</td>
                        <td>@record.CostCentreDisplay</td>
                        <td>@record.HourlyRateDisplay</td>
                        <td>@record.TotalAmountDisplay</td>
                        <td>@(string.IsNullOrWhiteSpace(record.UsernameDisplay) ? "-" : record.UsernameDisplay)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<CreateEditWorkRecordTabModel @ref=createEditWorkRecordTabModelRef isSubmitting="@isSubmitting" OnSubmit="SaveWorkRecordAsync" />
<DeleteConfirmationPage IsVisible="@showDeletePopup" Message="@popupDeleteMessage" OnDelete="ConfirmDelete" OnCancel="CloseDeletePopup" />

@code {
    [Parameter] public EventCallback ReloadWorkRecordAsync { get; set; }
    [Parameter] public bool locked { get; set; }
    [Parameter] public bool late { get; set; }
    [Parameter] public int EmployeeId { get; set; }
    [Parameter] public DateTime shiftDate { get; set; }
    [Parameter] public int employeeShiftId { get; set; }
    private int companyId;
    public bool isSubmitting { get; set; }
    private List<Overtime>? OvertimeRecords { get; set; } = new();

    [Parameter] public List<WorkRecord> workRecords { get; set; } = new();

    private HashSet<int> selectedWorkRecords = new();

    private bool IsAllSelected =>
        workRecords.Any() &&
        workRecords.All(r => selectedWorkRecords.Contains(r.Id));

    private void ToggleSelection(int id, bool isChecked)
    {
        if (isChecked)
            selectedWorkRecords.Add(id);
        else
            selectedWorkRecords.Remove(id);
    }

    private void ToggleSelectAll(ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value!;

        if (isChecked)
        {
            selectedWorkRecords = workRecords
                .Select(r => r.Id)
                .ToHashSet();
        }
        else
        {
            selectedWorkRecords.Clear();
        }
    }

    private CreateEditWorkRecordTabModel? createEditWorkRecordTabModelRef;
    public CreateEditWorkRecordViewModel createEditWorkRecordNoteModel { get; set; } = new();
    private List<WorkRecord> selectedWorkRecord = new();

    private List<Activity> activities = new();
    private List<CostCentre> costCentres = new();

    public async Task CreateWorkRecord()
    {
        companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);

        activities = await WorkRecordNotesService.GetActivitiesAsync(companyId);

        costCentres = await WorkRecordNotesService.GetCostCentresAsync(companyId);

        var createWorkRecordModel = new CreateEditWorkRecordViewModel
        {
            Id = 0,
            StartTime = shiftDate,
            EndTime = shiftDate,
            EmployeeShiftId = employeeShiftId,
            StartTimeSpan = TimeSpan.Zero,
            EndTimeSpan = TimeSpan.Zero
        };

        createWorkRecordModel.ActivitySelect = activities
            .Select(a => new SelectListItem
            {
                Value = a.Id.ToString(),
                Text = a.Name
            }).ToList();

        createWorkRecordModel.ActivitySelect.Insert(0,
            new SelectListItem { Value = "", Text = "Select" });

        createWorkRecordModel.CostCentreSelect = costCentres
            .Select(c => new SelectListItem
            {
                Value = c.Id.ToString(),
                Text = c.Name
            }).ToList();

        createWorkRecordModel.CostCentreSelect.Insert(0,
            new SelectListItem { Value = "", Text = "Select" });

        await createEditWorkRecordTabModelRef!
            .ShowModal(createWorkRecordModel);
    }

    public async Task EditWorkRecord(WorkRecord workRecord)
    {
        if (workRecord == null) return;
        if (locked) return;
        try
        {
            SpinnerService.Show();

            companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
            activities = await WorkRecordNotesService.GetActivitiesAsync(companyId);
            costCentres = await WorkRecordNotesService.GetCostCentresAsync(companyId);

            // Map WorkRecord to your modal ViewModel
            createEditWorkRecordNoteModel = new CreateEditWorkRecordViewModel
            {
                Id = workRecord.Id,
                StartTime = workRecord.StartTime ?? shiftDate,
                EndTime = workRecord.EndTime ?? workRecord.StartTime ?? shiftDate,
                StartTimeSpan = (workRecord.StartTime ?? shiftDate).TimeOfDay,
                EndTimeSpan = workRecord.EndTime?.TimeOfDay ?? TimeSpan.Zero,
                EmployeeShiftId = employeeShiftId,
                ActivityId = workRecord.ActivityId ?? 0,
                CostCentreId = workRecord.CostCentreId ?? 0,
                ActivitySelect = activities
                    .Select(a => new SelectListItem
                    {
                        Value = a.Id.ToString(),
                        Text = a.Name
                    }).ToList(),
                CostCentreSelect = costCentres
                    .Select(c => new SelectListItem
                    {
                        Value = c.Id.ToString(),
                        Text = c.Name
                    }).ToList()
            };

            // Open the modal
            await createEditWorkRecordTabModelRef!.ShowModal(createEditWorkRecordNoteModel);
        }
        finally
        {
            SpinnerService.Hide();
        }
    }

    public async Task SaveWorkRecordAsync(CreateEditWorkRecordViewModel model)
    {
        isSubmitting = true;
        try
        {
            companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
            int userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);

            DateTime startTime = model.StartTime;
            DateTime endTime = model.EndTime;
            var workRecord = new WorkRecord
            {
                Id = model.Id ?? 0,
                EmployeeShiftId = employeeShiftId,
                ActivityId = model.ActivityId,
                CostCentreId = model.CostCentreId,
                StartTime = startTime,
                EndTime = endTime,
                CompanyId = companyId,
                UpdatedByUserId = userId,
                UpdatedDate = Helper.GetDateTimeNow() != default ? Helper.GetDateTimeNow() : DateTime.UtcNow
            };

            if (!model.Id.HasValue || model.Id == 0)
            {
                workRecord.CreatedByUserId = userId;
                workRecord.CreatedDate = Helper.GetDateTimeNow() != default ? Helper.GetDateTimeNow() : DateTime.UtcNow;
            }
            else
            {
                workRecord.CreatedByUserId = userId;
                workRecord.CreatedDate = Helper.GetDateTimeNow() != default ? Helper.GetDateTimeNow() : DateTime.UtcNow;
            }

            if (workRecord.ActivityId == 0)
            {               
                ToastService.Show("You must select an activity.", ToastType.Warning);
                return;
            }

            if (endTime < startTime)
            {
                bool isActive = await WorkRecordNotesService.IsWorkRecordActive(model.Id ?? 0);

                if (!isActive)
                {
                    ToastService.Show("The end time cannot be less than the start time!", ToastType.Warning);
                    isSubmitting = false;
                    return;
                }
                workRecord.EndTime = null;
                workRecord.Duration = null;
            }

            var savedWorkRecords = await WorkRecordNotesService.SaveWorkRecordAsync(workRecord);
            if (savedWorkRecords != null)
            {
                await JS.InvokeVoidAsync("hideModal", "workRecordViewModel");
                ToastService.Show("Work record saved successfully!", ToastType.Success);
            }

            //Recalculate overtime
            var parameterList = new ParameterList
            {
                EmployeeId = EmployeeId,
                EmployeeShiftId = employeeShiftId,
                Date = shiftDate,
                CompanyId = companyId,
                UserId = userId
            };

            if (savedWorkRecords != null)
            {
                var overtimeList = await WorkRecordNotesService.RecalculateOvertimeAsync(parameterList);

                if (overtimeList != null)
                {
                    OvertimeRecords = overtimeList;
                    StateHasChanged();
                }
            }

            else
            {
                ToastService.Show("Failed to save work record.", ToastType.Danger);
            }
        }
        catch (Exception ex)
        {
            ToastService.Show("An error occurred while saving.", ToastType.Danger);
        }
        finally
        {
            isSubmitting = false;
            await ReloadWorkRecordAsync.InvokeAsync();
        }
    }
   
    //DeleteLogic
    bool showDeletePopup = false;
    string popupDeleteMessage = "";

    void CloseDeletePopup()
    {
        showDeletePopup = false;
    }
    public void DeleteSelectedRecords()
    {
        if (selectedWorkRecords.Count == 0)
        {
            ToastService.Show("Please select at least one work record to delete", ToastType.Warning);
            return;
        }
        popupDeleteMessage = $"Are you sure you want to delete {selectedWorkRecords.Count} workRecord(s)?";
        showDeletePopup = true;
    }

    private async Task ConfirmDelete()
    {
        showDeletePopup = false;

        int userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);

        SpinnerService.Show();
        try
        {
            var workrecordToDelete = workRecords.Where(t => selectedWorkRecords.Contains(t.Id)).ToList();

            var success = await WorkRecordNotesService.DeleteWorkRecordAsync(workrecordToDelete);

            if (success)
            {
                workRecords.RemoveAll(t => selectedWorkRecords.Contains(t.Id));
                selectedWorkRecords.Clear();
                ToastService.Show("Selected work record deleted successfully", ToastType.Success);
            }

            //Recalculate overtime
            var parameterList = new ParameterList
            {
                EmployeeId = EmployeeId,
                EmployeeShiftId = employeeShiftId,
                Date = shiftDate,
                CompanyId = companyId,
                UserId = userId
            };

            if (success)
            {
                var overtimeList = await WorkRecordNotesService.RecalculateOvertimeAsync(parameterList);

                if (overtimeList != null)
                {
                    OvertimeRecords = overtimeList;
                    StateHasChanged();
                }
                await ReloadWorkRecordAsync.InvokeAsync();
            }
        }
        finally
        {
            await ReloadWorkRecordAsync.InvokeAsync();
            SpinnerService.Hide();
        }
    }

    <!-- Late Logic -->
    private bool _late;
    private bool _isSavingLate;
    protected override void OnParametersSet()
    {
        if (!_isSavingLate)
            _late = late;
    }

    private async Task OnLateChanged()
    {
        _isSavingLate = true;

        int userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);

        var parameterList = new ParameterList
        {
            UserId = userId,
            EmployeeShift = new EmployeeShift
            {
                Id = employeeShiftId,
                Late = _late,
                UpdatedByUserId = userId,
                UpdatedDate = DateTime.Now
            }
        };

        var success = await WorkRecordNotesService
            .SaveWorkRecordShowAsLateAsync(parameterList);
        await ReloadWorkRecordAsync.InvokeAsync();

        if (!success)
        {
            _late = !_late;
        }
        _isSavingLate = false;
    }
}
