
<div class=" modal-header border-0 mb-2" style="padding: 0">
    <h5> Overtime </h5>
    <!-- Buttons -->
    <div class="btn-group" role="group" style="cursor:@(locked ? "not-allowed" : "pointer")">
        <button class="btn icon-btn bg-brand-100" type="button" @onclick="CreateOvertime" disabled="@locked">
            <i class="fa fa-plus"></i>
        </button>

        <button class="btn icon-btn " type="button" @onclick="ToilWorkRecordOvertime" title="Mark as Toil" style="background-color:#FAB95B; color:#FFFFFF; " disabled="@locked">
            Toil
        </button>

        <button class="btn icon-btn " type="button" @onclick="AuthorizeOvertime" title="Mark as Authorize" style="background-color:#547792; color:#FFFFFF" disabled="@locked">
            <i class="fa-solid fa-check" style="color: #ffff;"></i>
        </button>

        <button class="btn icon-btn clockNest-bg-secondary" title="Mark as Decline" type="button" @onclick="DeclineWorkRecordOvertime" disabled="@locked">
            <i class="fa-solid fa-xmark" style="color: #ffff;"></i>
        </button>

        <button class="btn icon-btn btn-danger" type="button" title="Mark as Unpaid" @onclick="UnpaidWorkRecordOvertime" disabled="@locked">
            <i class="fa-solid fa-xmark" style="color: #ffff;"></i>
            <i class="fa-solid fa-xmark" style="color: #ffff;"></i>
        </button>
    </div>


</div>
<!-- Table -->
<div class="table-responsive custom-table-wrapper" style="max-height: 285px;">
    <table class="table table-hover table-bordered align-middle  custom-table">
        <thead>
            <tr>
                <th style="width:3%; cursor:@(locked ? " not-allowed" : "pointer" )">
                    <input type="checkbox"
                           class="form-check-input"
                           checked="@IsAllSelected"
                           @onchange="ToggleSelectAll" disabled="@locked" />

                </th>
                <th style="width:6%;">Start</th>
                <th style="width:6%">End</th>
                <th style="width:8%"> Duration</th>
                <th style="width:12%">Activity</th>
                <th style="width:12%">Cost Centre</th>
                <th style="width:15%">Overtime Group</th>
                <th style="width:8%">Status</th>
                <th style="width:10%">Hourly Rate</th>
                <th style="width:12%">Total Amount</th>
                <th style="width:10%"></th>
            </tr>
        </thead>

        <tbody>
            @if (overtime == null || !overtime.Any())
            {
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">
                        No matching records found
                    </td>
                </tr>
            }
            else
            {
                @foreach (var record in overtime)
                {
                    <tr @ondblclick="@(() => EditOvertime(record))">
                        <td style="cursor:@(locked ? "not-allowed" : "pointer")">
                            <input type="checkbox"
                                   class="form-check-input"
                                   checked="@selectedOvertimeRecords.Contains(record.Id)"
                                   @onchange="(e) => ToggleSelection(record.Id, (bool)e.Value!)" disabled="@locked" />
                        </td>
                        <td>@(string.IsNullOrWhiteSpace(record.StartTimeDisplay) ? "-" : record.StartTimeDisplay)</td>
                        <td>@(string.IsNullOrWhiteSpace(record.EndTimeDisplay) ? "-" : record.EndTimeDisplay)</td>
                        <td>@record.DurationDisplay</td>
                        <td>@(string.IsNullOrWhiteSpace(record.ActivityName) ? "-" : record.ActivityName)</td>
                        <td>@(string.IsNullOrWhiteSpace(record.CostCentreName) ? "-" : record.CostCentreName)</td>
                        <td>@record.OvertimeGroupName</td>
                        <td>@record.OvertimeStatusDisplay</td>
                        <td>@record.HourlyRateDisplay</td>
                        <td>@record.TotalAmountDisplay</td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>
<CreateEditWorkRecordOvertimeTabModel @ref=createEditOvertimeTabModelRef isSubmitting="@isSubmitting" OnSubmit="OnOvertimeSaveAsync" />

@code {
    [Parameter] public bool locked { get; set; }
    [Parameter] public EventCallback ReloadWorkRecordAsync { get; set; }

    [Parameter] public int EmployeeId { get; set; }
    [Parameter] public DateTime shiftDate { get; set; }
    [Parameter] public int employeeShiftId { get; set; }
    private int companyId;
    private int userId;

    private CreateEditWorkRecordOvertimeTabModel? createEditOvertimeTabModelRef;
    public CreateEditWorkRecordOvertimeViewModel createEditOvertimeModel { get; set; } = new();
    public bool isSubmitting { get; set; }
    private List<Overtime> selectedOvertimeRecord = new();

    [Parameter] public List<Overtime> overtime { get; set; } = new();

    private HashSet<int> selectedOvertimeRecords = new();

    private bool IsAllSelected =>
        overtime.Any() &&
        overtime.All(r => selectedOvertimeRecords.Contains(r.Id));

    private void ToggleSelection(int id, bool isChecked)
    {
        if (isChecked)
            selectedOvertimeRecords.Add(id);
        else
            selectedOvertimeRecords.Remove(id);
    }

    private void ToggleSelectAll(ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value!;

        if (isChecked)
        {
            selectedOvertimeRecords = overtime
                .Select(r => r.Id)
                .ToHashSet();
        }
        else
        {
            selectedOvertimeRecords.Clear();
        }
    }

    public async Task CreateOvertime()
    {
        companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
        if (companyId == 125) // Security Print
        {
            return;
        }
        var getOvertimeRecords = await WorkRecordNotesService.GetOvertimeRecordAsync(companyId);

        var createOvertimeModel = new CreateEditWorkRecordOvertimeViewModel
        {
            OvertimeGroups = getOvertimeRecords,
            ShiftDate = DateTime.Today,
            OvertimeGroupId = 0

        };
        await createEditOvertimeTabModelRef!.ShowModal(createOvertimeModel);
    }

    public async Task EditOvertime(Overtime? overtime = null)
    {
        if (locked) return;
        var editOvertime = overtime ?? selectedOvertimeRecord.FirstOrDefault();
        if (editOvertime == null) return;
        companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
        if (companyId == 125) 
        {
            return;
        }
        var getOvertimeRecords = await WorkRecordNotesService.GetOvertimeRecordAsync(companyId);

        createEditOvertimeModel = new CreateEditWorkRecordOvertimeViewModel
        {
            Id = editOvertime.Id,
            Duration = TimeSpan.FromMinutes(editOvertime.Duration ?? 0),
            OvertimeGroupId = editOvertime.OvertimeGroupId ?? 0,
            OvertimeStatusId = editOvertime.OvertimeStatusId ?? 0,
            OvertimeGroups = getOvertimeRecords
        };
        await createEditOvertimeTabModelRef!.ShowModal(createEditOvertimeModel);
    }

    public async Task OnOvertimeSaveAsync(CreateEditWorkRecordOvertimeViewModel overtimeModel)
    {
        isSubmitting = true;
        SpinnerService.Show();
        try
        {
            var now = Helper.GetDateTimeNow() != default ? Helper.GetDateTimeNow() : DateTime.UtcNow;
            companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
            userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);
            int durationMinutes = (int)overtimeModel.Duration.TotalMinutes;

            var workRecord = new WorkRecord
            {
                Id = overtimeModel.Id,
                EmployeeShiftId = employeeShiftId,
                Duration = durationMinutes,
                OvertimeGroupId = overtimeModel.OvertimeGroupId,
                CompanyId = companyId,
                UpdatedByUserId = userId,
                UpdatedDate = now,
                OvertimeStatusId = 0
            };
            if (overtimeModel.Id == 0)
            {
                workRecord.CreatedByUserId = userId;
                workRecord.CreatedDate = now;
            }

            var savedWorkRecords = await WorkRecordNotesService.SaveWorkRecordAsync(workRecord);

            if (savedWorkRecords != null)
            {
                await JS.InvokeVoidAsync("hideModal", "overtimeModel");
                ToastService.Show("Overtime record saved successfully!", ToastType.Success);

                if (ReloadWorkRecordAsync.HasDelegate)
                {
                    await ReloadWorkRecordAsync.InvokeAsync();
                }
            }
            else
            {
                ToastService.Show("Failed to save overtime record.", ToastType.Danger);
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error saving overtime record: {ex.Message}");
            ToastService.Show("An error occurred while saving the record.", ToastType.Danger);
        }
        finally
        {
            SpinnerService.Hide();
            isSubmitting = false;
        }
    }

    <!-- On toil clicked -->
    public async Task ToilWorkRecordOvertime()
    {
        if (selectedOvertimeRecords.Count == 0)
        {
            ToastService.Show("Please select at least one overtime record for toil", ToastType.Warning);
            return;
        }
        SpinnerService.Show();
        try
        {
            companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
            userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);
            var selectedOvertime = overtime
                          .Where(t => selectedOvertimeRecords.Contains(t.Id))
                          .ToList();
            var parameterList = new ParameterList
            {
                Overtime = selectedOvertime,
                UserId = userId,
            };
            bool success = await WorkRecordNotesService.ToilOvertimeAsync(parameterList);
            if (success)
            {
                await ReloadWorkRecordAsync.InvokeAsync();
                selectedOvertimeRecords.Clear();
                ToastService.Show("Marked as toil successfully!", ToastType.Success);
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Failed to mark overtime as toil: {ex.Message}");
        }

        finally
        {
            SpinnerService.Hide();
        }
    }

    <!-- Authorize overtime -->
    public async Task AuthorizeOvertime()
    {
        if (selectedOvertimeRecords.Count == 0)
        {
            ToastService.Show("Please select at least one overtime record to authorize", ToastType.Warning);
            return;
        }
        SpinnerService.Show();
        try
        {
            companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
            userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);
            var selectedOvertime = overtime
                          .Where(t => selectedOvertimeRecords.Contains(t.Id))
                          .ToList();
            var parameterList = new ParameterList
            {
                Overtime = selectedOvertime,
                UserId = userId,
            };
            bool success = await WorkRecordNotesService.AuthorizeOvertimeAsync(parameterList);
            if (success)
            {
              
                ToastService.Show("Marked as authorized successfully!", ToastType.Success);
                await ReloadWorkRecordAsync.InvokeAsync();
                selectedOvertimeRecords.Clear();
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Failed to mark overtime as toil: {ex.Message}");
        }

        finally
        {
            SpinnerService.Hide();
        }
    }

    <!-- Decline overtime -->
    public async Task DeclineWorkRecordOvertime()
    {
        if (selectedOvertimeRecords.Count == 0)
        {
            ToastService.Show("Please select at least one overtime record to decline", ToastType.Warning);
            return;
        }
        SpinnerService.Show();
        try
        {
            companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
            userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);
            var selectedOvertime = overtime
                          .Where(t => selectedOvertimeRecords.Contains(t.Id))
                          .ToList();
            var parameterList = new ParameterList
            {
                Overtime = selectedOvertime,
                UserId = userId,
            };
            bool success = await WorkRecordNotesService.DeclineOvertimeAsync(parameterList);
            if (success)
            {

                ToastService.Show("Overtime declined successfully!", ToastType.Success);
                await ReloadWorkRecordAsync.InvokeAsync();
                selectedOvertimeRecords.Clear();
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Failed to mark overtime as decline: {ex.Message}");
        }

        finally
        {
            SpinnerService.Hide();
        }
    }

    <!-- Unpaid overtime -->
    public async Task UnpaidWorkRecordOvertime()
    {
        if (selectedOvertimeRecords.Count == 0)
        {
            ToastService.Show("Please select at least one overtime record to mark unpaid", ToastType.Warning);
            return;
        }
        SpinnerService.Show();
        try
        {
            companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
            userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);
            var selectedOvertime = overtime
                          .Where(t => selectedOvertimeRecords.Contains(t.Id))
                          .ToList();
            var parameterList = new ParameterList
            {
                Overtime = selectedOvertime,
                UserId = userId,
            };
            bool success = await WorkRecordNotesService.UnpaidOvertimeAsync(parameterList);
            if (success)
            {        
                await ReloadWorkRecordAsync.InvokeAsync();
                selectedOvertimeRecords.Clear();             
                ToastService.Show("Marked overtime as unpaid successfully!", ToastType.Success);              
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Failed to mark overtime as unpaid: {ex.Message}");
        }

        finally
        {
            SpinnerService.Hide();
        }
    }
}

