
<div class=" modal-header border-0 mb-2 me-1" style="padding: 0">
    <h5>Real Clockings</h5>

    <!-- Buttons --> 
    <div class="btn-group" role="group">

        <div class="form-check form-switch d-flex align-items-center mb-0 me-4">
        
            <div class="form-check form-switch d-flex align-items-center mb-0" style="cursor:@(locked ? "not-allowed" : "pointer")">
                <input class="form-check-input me-2"
                       type="checkbox"
                       @bind="_verified"
                       disabled="@(_locked || _isVerifying)"
                       @bind:after="OnVerifiedChanged" />
                <label class="form-label body-medium mb-0 mt-1">
                    Verified
                </label>
            </div>
            

        </div>

        <div class="form-check form-switch d-flex align-items-center">
            <input class="form-check-input me-2"
                   type="checkbox"
                   @bind="_locked"
                   disabled="@_isSaving"
                   @bind:after="OnLockChanged" />
            <label class="form-label body-medium mb-0 mt-1">
                Locked
            </label>
        </div>

    </div>
</div>
<!-- Table -->
<div class="table-responsive custom-table-wrapper" style="max-height: 285px;">
    <table class="table table-hover table-bordered align-middle  custom-table">
        <thead>
            <tr>
                <th style="width:15%;">Time</th>
                <th style="width:20%">Date</th>
                <th style="width:30%"> Type</th>
                <th style="width:30%">Device</th>               
            </tr>
        </thead>

        <tbody>
            @if (realClockings == null || !realClockings.Any())
            {
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">
                        No real clocking found
                    </td>
                </tr>
            }
            else
            {
            @foreach (var tag in realClockings)
            {
                <tr>
                    <td>@tag.ClockingTimeOnly</td>
                    <td>@tag.ClockingDate</td>
                    <td>@tag.ClockingTypeDisplay</td>
                    <td>@tag.ClockingDeviceDisplay</td>                   
                </tr>
            }
            }
            
        </tbody>
    </table>
</div>
@code {
    [Parameter] public List<RealClocking> realClockings { get; set; } = new();

    [Parameter] public EventCallback ReloadWorkRecordAsync { get; set; }
    [Parameter] public int EmployeeId { get; set; }
    [Parameter] public DateTime shiftDate { get; set; }
    [Parameter] public int employeeShiftId { get; set; }
    [Parameter] public bool verified { get; set; }
    [Parameter] public bool locked { get; set; }

    private bool _locked;
    private bool _isSaving;

    private bool _verified;
    private bool _isVerifying;


    protected override void OnParametersSet()
    {
        if (!_isSaving)
            _locked = locked;

        if (!_isVerifying)
            _verified = verified;
    }

    //Verified
    private async Task OnVerifiedChanged()
    {
        _isVerifying = true;
        int userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);
        var verifiedModel = new Verified
        {
            EmployeeId = EmployeeId,
            ShiftDate = shiftDate,
            CreatedByUserId = userId,
            CreatedDate = DateTime.UtcNow
        };
        try
        {
            if (_verified)
                await WorkRecordNotesService.SetWorkRecordVerifiedAsync(verifiedModel);
            else
                await WorkRecordNotesService.DeleteWorkRecordVerifiedAsync(verifiedModel);
                await ReloadWorkRecordAsync.InvokeAsync();            
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Failed to update Verified state: {ex.Message}");
        }
        finally
        {
            _isVerifying = false;
            StateHasChanged();
        }
    }

    //Locked
    private async Task OnLockChanged()
    {
        _isSaving = true;

        int userId = await UserContextService.GetUserIdAsync(AuthenticationStateProvider);

        var lockedModel = new Locked
        {
            EmployeeId = EmployeeId,
            ShiftDate = shiftDate,
            CreatedByUserId = userId,
            CreatedDate = DateTime.UtcNow
        };

        try
        {
            if (_locked)
                await WorkRecordNotesService.SetWorkRecordLockedAsync(lockedModel);
            else
                await WorkRecordNotesService.DeleteWorkRecordLockedAsync(lockedModel);
            await ReloadWorkRecordAsync.InvokeAsync();
        }
        catch
        {
            _locked = !_locked; 
        }
        finally
        {
            _isSaving = false;
            StateHasChanged();
        }
    }
}
