
<div class=" modal-header border-0 mb-2" style="padding: 0">
    <h5> Exceptions </h5>
    <!-- Buttons -->
    <div class="btn-group" role="group" style="cursor:@(locked ? "not-allowed" : "pointer")">
        <button class="btn  bg-brand-100" type="button" @onclick="RaiseExceptions" disabled="@locked">
            Raise
        </button>

        <button class="btn  btn-danger" type="button" @onclick="ClearException" disabled="@locked">
            Clear
        </button>
    </div>
</div>
<!-- Table -->
<div class="table-responsive custom-table-wrapper" style="max-height: 285px;">
    <table class="table table-hover table-bordered align-middle  custom-table">
        <thead>
            <tr>
                <th style="width:3%; cursor:@(locked ? " not-allowed" : "pointer")">
                    <input type="checkbox"
                           class="form-check-input"
                           checked="@IsAllSelected"
                           @onchange="ToggleSelectAll" disabled="@locked" /> @* *@

                </th>
                <th style="width:15%;">Exception name</th>
                <th style="width:15%">Raised</th>

                <th style="width:67%"></th>
            </tr>
        </thead>

        <tbody>
            @if (exceptions == null || !exceptions.Any())
            {
                <tr>
                    <td colspan="5" class="text-center text-muted py-3">
                        No work record found
                    </td>
                </tr>
            }
            else
            {
                @foreach (var record in exceptions)
                {
                    <tr>
                        <td style="cursor:@(locked ? "not-allowed" : "pointer")">
                            <input type="checkbox"
                                   class="form-check-input"
                                   checked="@selectedExceptions.Contains(record.Id)"
                                   @onchange="(e) => ToggleSelection(record.Id, (bool)e.Value!)" disabled="@locked" />
                        </td>
                        <td>@(string.IsNullOrWhiteSpace(record.ExceptionName) ? "-" : record.ExceptionName)</td>
                        <td>@(string.IsNullOrWhiteSpace(record.Raised) ? "-" : record.Raised)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter] public EventCallback ReloadWorkRecordAsync { get; set; }
    [Parameter] public int EmployeeId { get; set; }
    [Parameter] public DateTime shiftDate { get; set; }
    [Parameter] public int employeeShiftId { get; set; }
    [Parameter] public bool locked { get; set; }


    [Parameter] public List<Exceptions> exceptions { get; set; } = new();

    private HashSet<int> selectedExceptions = new();

    private bool IsAllSelected =>
        exceptions.Any() &&
        exceptions.All(r => selectedExceptions.Contains(r.Id));

    private void ToggleSelection(int id, bool isChecked)
    {
        if (isChecked)
            selectedExceptions.Add(id);
        else
            selectedExceptions.Remove(id);
    }

    private void ToggleSelectAll(ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value!;

        if (isChecked)
        {
            selectedExceptions = exceptions
                .Select(r => r.Id)
                .ToHashSet();
        }
        else
        {
            selectedExceptions.Clear();
        }
    }

    <!--Raise exceptions-->
    public async Task RaiseExceptions()
    {

        if (selectedExceptions.Count == 0)
        {
            ToastService.Show("Please select atleast one exception to raise", ToastType.Warning);
            return;
        }
        SpinnerService.Show();
        int userId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
        try
        {
            var selectedException = exceptions.Where(t => selectedExceptions.Contains(t.Id)).ToList();
            var result = await WorkRecordNotesService.RaiseWorkRecordExceptions(selectedException.Select(x => x.Id).ToList(), userId);
            if (result)
            {
                ToastService.Show("Selected exceptions raised successfully", ToastType.Success);
                foreach (var ex in exceptions.Where(e => selectedExceptions.Contains(e.Id)))
                {
                    ex.Alert = true;
                }
                selectedExceptions.Clear();
                await ReloadWorkRecordAsync.InvokeAsync();
            }
            else
            {
                ToastService.Show("Failed to raise selected exceptions", ToastType.Danger);
            }
        }
        finally
        {
            SpinnerService.Hide();
        }
    }

    <!--Clear exceptions-->
    public async Task ClearException()
    {

        if (selectedExceptions.Count == 0)
        {
            ToastService.Show("Please select atleast one exception to clear", ToastType.Warning);
            return;
        }
        SpinnerService.Show();
        int userId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
        try
        {
            var selectedException = exceptions.Where(t => selectedExceptions.Contains(t.Id)).ToList();
            var result = await WorkRecordNotesService.ClearWorkRecordExceptions(selectedException.Select(x => x.Id).ToList(), userId);
            if (result)
            {
                ToastService.Show("Selected exceptions cleared successfully", ToastType.Success);
                foreach (var ex in exceptions.Where(e => selectedExceptions.Contains(e.Id)))
                {
                    ex.Alert = false;
                }
                selectedExceptions.Clear();
                await ReloadWorkRecordAsync.InvokeAsync();
            }
            else
            {
                ToastService.Show("Failed to clear selected exceptions", ToastType.Danger);
            }
        }
        finally
        {
            SpinnerService.Hide();
        }
    }
}


