@page "/employee"


 


@* <style>
    .form-select {
        border-radius: 6px !important;
        border: 1px solid #CBD5E1 !important;
        padding: 5px !important;
        font-size: 13px;
        transition: all 0.2s ease-in-out;
    }
</style> *@


@* <div class="top-bar body">
    <div class="page-title ">Employees</div>

    <div class="actions d-flex gap-2">
        <button class="btn icon-btn bg-brand-100" @onclick="CreateEmployee">
            <i class="fa fa-plus"></i>
        </button>

        <button class="btn icon-btn clockNest-bg-secondary" @onclick="RefreshGrid" title="Refresh">
            <i class="fa-solid fa-rotate-right"></i>
        </button>
    <div class="search-group">
        
        <input class="form-control search-input body-medium" type="text" placeholder="Type to search..."
               @bind="searchText"
               @bind:event="oninput"
               @bind:after="ResetPage" />

            @if (string.IsNullOrWhiteSpace(searchText))
            {
                <i class="fa fa-search search-icon"></i>
            }
            else
            {
                <i class="fa fa-times clear-icon" style="cursor:pointer" @onclick="ClearSearch"></i>
            }
    </div>
    </div>
</div>
 *@


<div class="top-bar d-flex align-items-center justify-content-between py-2 px-3">
    <!-- Page title -->
    <div class="page-title "> Employees </div>

    <!-- Search input  -->
    <div class="flex-grow-1 mx-3 d-flex justify-content-center">
        <div class="search-group">
            <input class="form-control search-input body-medium" type="text" placeholder="Type to search..."
                   @bind="searchText"
                   @bind:event="oninput"
                   @bind:after="ResetPage" />

            @if (string.IsNullOrWhiteSpace(searchText))
            {
                <i class="fa fa-search search-icon"></i>
            }
            else
            {
                <i class="fa fa-times clear-icon" style="cursor:pointer" @onclick="ClearSearch"></i>
            }
        </div>
    </div>

    <!-- Buttons -->
    <div class="btn-group" role="group" >
        <button class="btn icon-btn bg-brand-100" @onclick="CreateEmployee" type="button">
            <i class="fa fa-plus"></i>
        </button>

        <button class="btn icon-btn clockNest-bg-secondary" @onclick="RefreshGrid" title="Refresh" type="button">
            <i class="fa-solid fa-rotate-right"></i>
        </button>
    </div>
</div>


<div class="top-bar">
    @if (selectedEmployees.Any())
    {
        <div class="col-12">
            <div class="selectedBar">
                <div class="selectedBar_container">
                    <span class="selectedCount">@selectedEmployees.Count</span>
                    <span class="selectedText">Selected</span>
                </div>
                <div class="selectedBar_container">
                    @if (selectedEmployees.Count == 1)
                    {
                        <div class="selectedBar_deleteButton" >
                            <i class="fa-regular fa-pen-to-square" style="color: #FFD43B; padding:3px"></i>
                            <span>Edit</span>
                        </div>
                    }
                    <div class="selectedBar_deleteButton" @onclick="DeleteSelected">
                        <img src="icons/Close.svg" class="selectedBar_closeIcon" />
                        <span>Delete</span>
                    </div> 
                </div>
            </div>
        </div>
    }
    else
    {
        @* <div class="form-group mb-0">
        </div> *@
        @* <div class="search-group">
            <i class="fa fa-search search-icon"></i>
            <input class="form-control search-input body-medium" type="text" placeholder="Search"
                   @bind="searchText"
                   @bind:event="oninput"
                   @bind:after="ResetPage" />          
        </div> *@
       @*  <div class="actions d-flex gap-2" style="margin-left: -9px; margin-bottom:5px">
            <button class="btn bg-brand-100 text-white d-flex align-items-center justify-content-center gap-2 px-3 py-2" @onclick="CreateEmployee">
                <img src="images/plus.png" />
                <span>Create Employee</span>
            </button>
        </div> *@
    }
</div>

<!-- Table -->
<div class="table-responsive custom-table-wrapper">
    <table class="table table-hover table-bordered align-middle  custom-table">
        <thead>
            <tr>
                <th style="width:5%">
                    <input type="checkbox"
                           class="form-check-input"
                           @bind="IsAllSelected"
                           @bind:event="onchange" />

                </th>
                <th style="width: 10%;">Id</th>
                <th style="width:20%">BadgeId</th>
                <th style="width:15%">Payroll No</th>
                <th style="width:25%">Forename</th>
                <th style="width:25%">Surname</th>
            </tr>
        </thead>

        <tbody>
            @if (PagedEmployees.Any())
            {
                @foreach (var emp in PagedEmployees)
                {
                    <tr @ondblclick="@(() => EditEmployee(emp))">
                        <td>
                            <input type="checkbox"
                                   class="form-check-input"
                                   checked="@selectedEmployees.Contains(emp.Id)"
                                   @onchange="() => ToggleRow(emp.Id)" />
                        </td>
                        <td>@emp.Id</td>
                        <td>@emp.BadgeId</td>
                        <td>@emp.PayRollNo</td>
                        <td>@emp.Forename</td>
                        <td>@emp.Surname</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center text-muted">
                        No employees found
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination + Page Size -->
<!-- Table Footer Bar -->
<div class="table-footer-bar">

    <!-- Paze Size -->
    <div class="footer-pagesize">
        <span>Rows:</span>
        <select class="form-select form-select-sm"
                @bind="pageSize"
                @bind:after="ResetPage"
                style=" border-radius: 6px !important; border: 1px solid #CBD5E1 !important; padding: 5px !important; font-size: 13px;">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="0">All</option>
        </select>
    </div>

    <!-- No of employes -->
    <div class="footer-info">
        Showing <strong>@PagedEmployees.Count()</strong> of
        <strong>@FilteredEmployees.Count()</strong> employees
    </div>



    <!-- Previous Next Button -->
  @*   <nav>
        <ul class="pagination mb-0">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="PreviousPage">
                    Previous
                </button>
            </li>

            <li class="page-item disabled">
                <span class="page-link page-status">
                    Page @currentPage of @totalPages
                </span>
            </li>

            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="NextPage">
                    Next
                </button>
            </li>
        </ul>
    </nav> *@
    <nav>
        <ul class="pagination mb-0 custom-pagination">

            <!-- First -->
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="() => GoToPage(1)">
                    &laquo;
                </button>
            </li>

            <!-- Previous -->
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <button class="page-link" @onclick="PreviousPage">
                    &lsaquo;
                </button>
            </li>

            <!-- Page Numbers -->
            @foreach (var pageNumber in VisiblePages)
            {
                if (pageNumber == -1)
                {
                    <li class="page-item disabled">
                        <span class="page-link">…</span>
                    </li>
                }
                else
                {
                    <li class="page-item @(pageNumber == currentPage ? "active" : "")">
                        <button class="page-link" @onclick="() => GoToPage(pageNumber)">
                            @pageNumber
                        </button>
                    </li>
                }
            }

            <!-- Next -->
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="NextPage">
                    &rsaquo;
                </button>
            </li>

            <!-- Last -->
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <button class="page-link" @onclick="() => GoToPage(totalPages)">
                    &raquo;
                </button>
            </li>

        </ul>
    </nav>

</div>

<CreateEditEmployeeModel @ref="employeeModelRef" OnSubmit="SaveEmployee"></CreateEditEmployeeModel>

@code {

    void ClearSearch()
    {
        searchText = string.Empty;
        ResetPage();
    }

    int maxVisiblePages = 5;

    List<int> VisiblePages
    {
        get
        {
            var pages = new List<int>();

            if (totalPages <= maxVisiblePages)
            {
                for (int i = 1; i <= totalPages; i++)
                    pages.Add(i);
            }
            else
            {
                int start = Math.Max(1, currentPage - 2);
                int end = Math.Min(totalPages, currentPage + 2);

                if (start > 1)
                {
                    pages.Add(1);
                    pages.Add(-1); // ellipsis
                }

                for (int i = start; i <= end; i++)
                    pages.Add(i);

                if (end < totalPages)
                {
                    pages.Add(-1); // ellipsis
                    pages.Add(totalPages);
                }
            }

            return pages;
        }
    }

    void GoToPage(int page)
    {
        if (page < 1 || page > totalPages)
            return;

        currentPage = page;
    }


    public CreateEditEmployeeModel employeeModelRef;
    public CreateEditEmployeeViewModel EmployeeModal { get; set; } = new();
    private List<Employee> employees = new();
    private List<Employee> selectedEmployee = new List<Employee>();

    private List<EmployeeAllDetails> employeeAllDetails = new();
    private List<CompanyLicenceDetails> companylicencedetail = new();

    private int companyId;

    private string searchText = "";
    private int currentPage = 1;
    private int pageSize = 10;

    private HashSet<int> selectedEmployees = new();

    private IEnumerable<Employee> FilteredEmployees =>
     employees.Where(e =>
         string.IsNullOrWhiteSpace(searchText) ||
         (e.Forename?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
         (e.Surname?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
         (e.PayRollNo?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false) ||
         (e.Id.ToString().Contains(searchText, StringComparison.OrdinalIgnoreCase)) ||
        (e.BadgeId?.Contains(searchText, StringComparison.OrdinalIgnoreCase) ?? false)
     );

    private int totalPages =>
        pageSize == 0
            ? 1
            : (int)Math.Ceiling(FilteredEmployees.Count() / (double)pageSize);

    private IEnumerable<Employee> PagedEmployees =>
        pageSize == 0
            ? FilteredEmployees
            : FilteredEmployees
                .Skip((currentPage - 1) * pageSize)
                .Take(pageSize);

    private bool IsAllSelected
    {
        get => PagedEmployees.Any() && PagedEmployees.All(e => selectedEmployees.Contains(e.Id));
        set
        {
            if (value)
            {
                foreach (var emp in PagedEmployees)
                    selectedEmployees.Add(emp.Id);
            }
            else
            {
                foreach (var emp in PagedEmployees)
                    selectedEmployees.Remove(emp.Id);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            SpinnerService.Show();
            await LoadEmployeesAsync();
        }
        finally
        {
            SpinnerService.Hide();
        }

    }

    private async Task LoadEmployeesAsync()
    {
        companyId = await UserContextService.GetCompanyIdAsync(AuthenticationStateProvider);
        employees = await EmployeeService.GetEmployeeAsync(companyId);
    }

    private async Task RefreshGrid()
    {
        SpinnerService.Show();
        await Task.Delay(1000);
        StateHasChanged(); 
        try
        {
            searchText = "";
            selectedEmployees.Clear();
            currentPage = 1;
            pageSize = 10;
            await LoadEmployeesAsync();
        }
        finally
        {
            SpinnerService.Hide();
        }
    }

    <!-- Checkbox Selection -->
    private void ToggleRow(int id)
    {
        if (!selectedEmployees.Add(id))
            selectedEmployees.Remove(id);
    }

    private void ToggleSelectAll(ChangeEventArgs e)
    {
        bool isChecked = e.Value?.ToString() == "true";

        foreach (var emp in PagedEmployees)
        {
            if (isChecked)
                selectedEmployees.Add(emp.Id);
            else
                selectedEmployees.Remove(emp.Id);
        }
    }

    <!-- Pagination-->
    private void NextPage()
    {
        if (currentPage < totalPages)
            currentPage++;
    }
    private void PreviousPage()
    {
        if (currentPage > 1)
            currentPage--;
    }
    private void ResetPage()
    {
        currentPage = 1;
    }

    private void DeleteSelected()
    {
        employees.RemoveAll(e => selectedEmployees.Contains(e.Id));
        selectedEmployees.Clear();
        ResetPage();
    }


    private async void CreateEmployee()
    {
        SpinnerService.Show();
        var company = await EmployeeService.GetCompanyAsync(companyId);
        var companylicencedetail = await EmployeeService.GetCompanyLicenceDetailsAsync(companyId);
        var parameterList = new ParameterList
        {
            Id = 0,
            CompanyId = companyId
        };

        var employeeAllDetails = await EmployeeService.GetEmployeeAllDetailsAsync(parameterList);
        var newEmployee = new CreateEditEmployeeViewModel
        {
           Id=0,
           CompanyId = companyId,

            // <!--DetailsTab-->
              CreateEditEmployeeDetailsViewModel = new CreateEditEmployeeDetailsViewModel
              {
                PersonTypes = employeeAllDetails?.PersonTypes
                .Where(x => x.Id != 3)
                .Select(x => new SelectListItem
                {
                     Value = x.Id.ToString(),
                     Text = x.Name
                }).ToList() ?? new List<SelectListItem>(),

                Titles = employeeAllDetails.Titles
                .Select(x => new SelectListItem
                {
                     Value = x.Id.ToString(),
                     Text = x.Name
                }).ToList() ?? new List<SelectListItem>(),

                Rosters = employeeAllDetails.Rosters
                .Select(x => new SelectListItem
                {
                     Value = x.Id.ToString(),
                     Text = x.Name
                }).ToList() ?? new List<SelectListItem>(),

                Activities = employeeAllDetails.Activities
                .Select(x => new SelectListItem
                {
                     Value = x.Id.ToString(),
                     Text = x.Name
                }).ToList() ?? new List<SelectListItem>(),

                CostCentres = employeeAllDetails.CostCentres
                .Select(x => new SelectListItem
                {
                     Value = x.Id.ToString(),
                     Text = x.Name
                }).ToList() ?? new List<SelectListItem>(),

                GTTerminalGroups = employeeAllDetails.GTTerminalGroups?
            .Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Name })
            .ToList() ?? new List<SelectListItem>(),

                AccessGroups = employeeAllDetails.AccessGroups
                .Select(x => new SelectListItem
                {
                     Value = x.Id.ToString(),
                     Text = x.Name
                }).ToList() ?? new List<SelectListItem>(),
            },

        }; 
        await employeeModelRef.ShowModal(newEmployee);
        SpinnerService.Hide();
    }
  
    private async Task EditEmployee(Employee? employee = null)
    {
        try
        {
            SpinnerService.Show();
            var editTarget = employee ?? selectedEmployee.FirstOrDefault();
            if (editTarget == null) return;

            var company = await EmployeeService.GetCompanyAsync(companyId);
            var companylicencedetail = await EmployeeService.GetCompanyLicenceDetailsAsync(companyId);
            var parameterList = new ParameterList
            {
                Id = editTarget.Id,
                EmployeeId = editTarget.Id,
                CompanyId = companyId
            };

            var employeeAllDetails = await EmployeeService.GetEmployeeAllDetailsAsync(parameterList);

            EmployeeModal = new CreateEditEmployeeViewModel
            {
                Id = editTarget.Id,
                CompanyId = companyId,

                // <!--DetailsTab-->
               CreateEditEmployeeDetailsViewModel = new CreateEditEmployeeDetailsViewModel
                {
                    Forename = editTarget.Forename,
                    Surname = editTarget.Surname,
                    BadgeId = editTarget.BadgeId ?? string.Empty,
                    BadgeId2 = editTarget.BadgeId2,
                    DateOfBirth = editTarget.DateOfBirth,
                    Rotation = editTarget.Rotation,

                    Gender = employeeAllDetails.Employee?.Gender ?? string.Empty,

                    PersonTypeId = editTarget.PersonTypeId,
                    PersonTypes = (employeeAllDetails.PersonTypes ?? Enumerable.Empty<PersonType>()).Where(x => x.Id != 3)
                    .Select(x => new SelectListItem
                    {
                        Value = x.Id.ToString(),
                        Text = x.Name 
                    }).ToList(),


                    TitleId = employeeAllDetails.Employee?.TitleId,
                    Titles = employeeAllDetails.Titles.Select(x => new SelectListItem
                    {
                        Value = x.Id.ToString(),
                        Text = x.Name
                    }).ToList(),

                    RosterId = editTarget.RosterId,
                    Rosters = employeeAllDetails.Rosters.Select(x => new SelectListItem
                    {
                        Value = x.Id.ToString(),
                        Text = x.Name
                    }).ToList(),

                    ActivityId = editTarget.ActivityId,
                    Activities = employeeAllDetails.Activities.Select(x => new SelectListItem
                    {
                        Value = x.Id.ToString(),
                        Text = x.Name
                    }).ToList(),

                    CostCentreId = editTarget.CostCentreId,
                    CostCentres = employeeAllDetails.CostCentres.Select(x => new SelectListItem
                    {
                        Value = x.Id.ToString(),
                        Text = x.Name
                    }).ToList(),

                    GTTerminalGroupId = editTarget.GTTerminalGroupId,
                    GTTerminalGroups = employeeAllDetails.GTTerminalGroups.Select(x => new SelectListItem
                    {
                        Value = x.Id.ToString(),
                        Text = x.Name
                    }).ToList(),

                    AccessGroupId = editTarget.AccessGroupId,
                    AccessGroups = employeeAllDetails.AccessGroups.Select(x => new SelectListItem
                    {
                        Value = x.Id.ToString(),
                        Text = x.Name
                    }).ToList(),
                },

                // <!--PersonalInfoTab-->
                CreateEditEmployeePersonalInfoViewModel = new CreateEditEmployeePersonalInfoViewModel
                {
                    Address1 = employeeAllDetails.Employee?.Address1 ?? string.Empty,
                    Address2 = employeeAllDetails.Employee?.Address2 ?? string.Empty,
                    Address3 = employeeAllDetails.Employee?.Address3 ?? string.Empty,
                    Address4 = employeeAllDetails.Employee?.Address4 ?? string.Empty,

                    Postcode = employeeAllDetails.Employee?.Postcode ?? string.Empty,
                    Mobile   = employeeAllDetails.Employee?.Mobile ?? string.Empty,
                    Mobile2  = employeeAllDetails.Employee?.Mobile2 ?? string.Empty,
                    Email    = employeeAllDetails.Employee?.Email ?? string.Empty,
                    Email2   = employeeAllDetails.Employee?.Email2 ?? string.Empty,
                   NextOfKin = employeeAllDetails.Employee?.NextOfKin ?? string.Empty,
                    NextOfKinContactNo = employeeAllDetails.Employee?.NextOfKinContactNo ?? string.Empty,
                },

                CreateEditEmployeeNotesViewModel = new CreateEditEmployeeNotesViewModel
                {
                    //Notes = employeeAllDetails.Employee?.Notes ?? string.Empty,
                    Notes = employeeAllDetails.Employee?.Notes ?? string.Empty,
                }   

            };

            await employeeModelRef.ShowModal(EmployeeModal);
        }
        finally
        {
            SpinnerService.Hide(); 
        }
    }

    private async Task SaveEmployee()
    {
        await LoadEmployeesAsync();
    }

   

}
